<sources>
    <video>
        <default pathversion="1"></default>
        <source>
            <name>Movies</name>
            <path pathversion="1">{{ ansible_env.HOME }}/Movies/</path>
            <allowsharing>true</allowsharing>
        </source>
        <source>
            <name>TV shows</name>
            <path pathversion="1">{{ ansible_env.HOME }}/TV shows/</path>
            <allowsharing>true</allowsharing>
        </source>
        <source>
            <name>Downloads</name>
            <path pathversion="1">{{ deluge_user.home }}/Downloads/</path>
            <allowsharing>true</allowsharing>
        </source>
    </video>
</sources>
